.contact-form {
  position: relative;
  top: 40.5rem;
  width: 50rem;
  margin: auto;

  li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    opacity: 0;
    overflow: hidden;
    display: block;
    clear: both;
    position: relative;
    animation: fadeInUp 2s 2s;
    animation-fill-mode: forwards;

    li.half {
      width: 100%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }
  input[type='text'],
  input[type='email'] {
    width: 80%;
    background: white;
    height: 50px;
    font-size: 16px;
    color: black;
    padding: 0 20px;
    box-sizing: border-box;


  }

  input[type=submit] {
    width: 80%;
    height: 4rem;
    font-size: 1.5rem;
    background-color: #adadad;
  }

  input {
    border: none;
    outline: none;
    border-radius: 700px;
  }

  textarea {
    position: relative;
    top: 1rem;
    width: 80%;
    border: 0;
    background: white;
    height: 50px;
    font-size: 16px;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
    margin: 0px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 30px;

    &:hover {
      // background: rgb(243, 243, 243);
      color: rgb(0, 0, 0);
    }
  }
}
.flat-button {
  width: 20%;
  color: rgb(255, 255, 255);
  font-size: 11px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: 0 0;
  text-transform: uppercase;
  text-align: center;
  margin-right: 10px;
  background-color: #000000;

  &:hover {
    background: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
  }
}

.textzone {
  position: relative;
  bottom: 2rem;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 620px) {

  h1 {
    position: relative;
    top: 7.5rem;
    left: 12.5%;
    font-size: 1.1em;
    text-align: center;
  }

  .contact-form {
    top: 55rem;
    left: 12.5%;
    width: 32.5rem;
  }
}
