.contact-form {
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        margin: 130;

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;
      
            &:first-child {
              margin-left: 0;
            }
          }
      }
      input[type='text'],
      input[type='email'] {
        width: 30%;
        border: 0;
        background: #000000;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
        // margin-top: 10px;

        &:hover {
            background: rgb(243, 243, 243);
            color: rgb(0, 0, 0);
          }
      }

      textarea {
        width: 30%;
        border: 0;
        background: #000000;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
        margin: 0px;

        &:hover {
            background: rgb(243, 243, 243);
            color: rgb(0, 0, 0);
          }
      }
      
  } .flat-button {
    width: 20%;
    color: rgb(255, 255, 255);
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    text-align: center;
    margin-right: 10px;
    background-color: #000000;


    &:hover {
        background: rgb(243, 243, 243);
        color: rgb(0, 0, 0);
      }
  }

.textzone{
    color: rgb(0, 0, 0);
    margin: 00px;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  